<%- include('../partials/admin/header') %>

<body data-sidebar="dark">
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->


  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div
              class="page-title-box d-sm-flex align-items-center justify-content-between"
            >
              <h4 class="mb-sm-0 font-size-18">Customers</h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">
                    <a href="javascript: void(0);">Ecommerce</a>
                  </li>
                  <li class="breadcrumb-item active">Customers</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-sm-4">
                    <div class="search-box me-2 mb-2 d-inline-block">
                      <div class="position-relative">
                        <input
                          type="text"
                          class="form-control"
                          id="searchTableList"
                          placeholder="Search..."
                        />
                        <i class="bx bx-search-alt search-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="text-sm-end"></div>
                  </div>
                  <!-- end col-->
                </div>
                <div class="table-responsive">
                  <table
                    class="table align-middle table-nowrap dt-responsive nowrap w-100"
                    id="customerList-table"
                  >
                    <thead class="table-light">
                      <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Block/Unblock</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% users.forEach((users,index) => { %>
                      <tr>
                        <td><%= index+1 %></td>
                        <td><%= users.username %></td>
                        <td><%= users.email %></td>
                        <td><%= users.number %></td>
                        <td><%= users.status?"Active" : "Inactive" %></td>

                        <td>
                          <button
                            onclick="confirmBlock('<%= users.id %>')"
                            class="<%= users.status ? 'btn btn-danger btn-sm waves-effect waves-light' : 'btn btn-success btn-sm waves-effect waves-light' %>"
                          >
                            <%= users.status ? "Block" : "Unblock" %>
                          </button>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
                <!-- end table responsive -->

                <!-- Add this at the bottom of your users table, before the end of card-body div -->
<!-- Add this at the bottom of your users table, before the end of card-body div -->
<div class="row mt-4">
  <div class="col-12">
    <nav aria-label="User pagination">
      <ul class="pagination pagination-rounded justify-content-center">
        <!-- Previous page button -->
        <li class="page-item <%= pagination.currentPage === 1 ? 'disabled' : '' %>">
          <a class="page-link" href="/admin/users?page=<%= pagination.currentPage - 1 %>" tabindex="-1">
            <i class="mdi mdi-chevron-left"></i>
          </a>
        </li>
        
        <!-- Page numbers -->
        <% pages.forEach(pageNum => { %>
          <li class="page-item <%= pagination.currentPage === pageNum ? 'active' : '' %>">
            <a class="page-link" href="/admin/users?page=<%= pageNum %>"><%= pageNum %></a>
          </li>
        <% }) %>
        
        <!-- Next page button -->
        <li class="page-item <%= pagination.currentPage === pagination.totalPages ? 'disabled' : '' %>">
          <a class="page-link" href="/admin/users?page=<%= pagination.currentPage + 1 %>">
            <i class="mdi mdi-chevron-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
              </div>
              <!-- end card body -->
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <script>
      function confirmBlock(userId) {
        Swal.fire({
          title: `Are you sure?`,
          text: ` Do you want to continue?`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#000000",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes",
          cancelButtonText: "No",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = ` /admin/block/${userId}`;
          }
        });
      }
    </script>

    <%- include('../partials/admin/footer') %>
  </div>
</body>
